body {
    background-color: #3B81D3;

    font-size: 1.3em;
    font-family: arial;
    font-weight: normal;
}

header {
    color: white;

    text-align: center;
}

section {
    max-width: 500px;
    margin: auto;
    padding: 10px;

    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.479);
}

footer {
    color: white;

    text-align: center;
    font-style: italic;
}